extends layout

block content
 pre 
     h1 Current Stock 
  p sku: #{sku}
  p stock: #{stock}
  p availableStock: #{available}
    h4 message: #{message} 
   small status: #{error.status}
  pre success: #{error.success}
